.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #dedede;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-image {
  flex: 0;
  width: 5rem;
  height: 5rem;
}
.home-text {
  top: auto;
  left: 0px;
  bottom: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  margin-top: auto;
  text-align: left;
  font-weight: 700;
  margin-left: 140px;
  margin-right: auto;
  margin-bottom: auto;
  text-transform: capitalize;
}
.home-text01 {
  font-weight: 700;
  text-transform: capitalize;
}
.home-text03 {
  font-style: normal;
  font-weight: 300;
  text-transform: capitalize;
}
.home-icon-group {
  display: flex;
}
.home-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-text04 {
  align-self: flex-start;
  text-align: left;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
}
.home-text07 {
  font-style: normal;
  font-weight: 300;
}
.home-text08 {
  width: 2rem;
  height: 2rem;
  align-self: flex-start;
  margin-top: -34px;
  text-align: left;
  margin-left: 120px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: #bfbfbf;
}
.home-text10 {
  background-color: #bfbfbf;
}
.home-ul {
  height: 97px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: square;
}
.home-li {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
.home-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #dedede;
  border-style: inset;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container05 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  height: 4rem;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text14 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-text15 {
  font-style: normal;
  font-weight: 700;
}
.home-icon-group2 {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link01 {
  display: contents;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link02 {
  display: contents;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.home-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container06 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text18 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link10 {
  text-decoration: none;
}
.home-container09 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text21 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link14 {
  text-decoration: none;
}
.home-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text24 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link17 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link18 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-header {
    border-color: #dedede;
    border-style: inset;
    border-width: 1px;
  }
  .home-text08 {
    left: -250px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container05 {
    align-items: center;
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-container06 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-header {
    border-color: #dedede;
    border-style: inset;
    border-width: 1px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .home-text08 {
    left: -140px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container06 {
    width: 100%;
    justify-content: space-between;
  }
  .home-container08 {
    margin-right: 0px;
  }
  .home-container09 {
    margin-top: var(--dl-space-space-twounits);
  }
  .home-container10 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
    border-color: #dedede;
    border-style: inset;
    border-width: 1px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-text08 {
    left: -122px;
    bottom: -88px;
    position: static;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-image2 {
    margin-bottom: 0px;
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container06 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .home-container07 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-container08 {
    align-self: stretch;
  }
}
